.navbar {
  background-color: white;
  z-index: 10;
  width: 100vw;
  height: 62px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);
}
.navbar .bar-left {
  padding-left: 30px;
  display: flex;
  flex-direction: row;
}
.navbar .bar-left p {
  cursor: pointer;
  font-family: "Nothing You Could Do", cursive;
  font-size: 35px;
  margin-right: 20px;
  color: #775e43;
}
.navbar .bar-left p:hover {
  opacity: 0.8;
  transition: all 0.3s ease-in-out;
}
.navbar .bar-left .search-bar {
  border-bottom: 1px solid;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.navbar .bar-left .search-bar .search-input {
  padding-left: 5px;
  cursor: text;
  border: none;
  overflow: hidden;
  height: 35px;
  width: 220px;
}
.navbar .bar-left .search-bar .icon-search {
  cursor: pointer;
  font-size: 25px;
}
.navbar .bar-left .search-bar .icon-search:hover {
  opacity: 0.8;
  transition: all 0.3s ease-in-out;
}
.navbar .bar-right {
  padding-right: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.navbar .bar-right .bar-right-item {
  cursor: pointer;
  padding: 3px 1.8rem;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 1px;
}
.navbar .bar-right .bar-right-item:hover {
  color: #775e43;
  transition: all 0.2s ease-in-out;
}
.navbar .bar-right .bar-account-container:hover .dropdown-menu {
  transition: all 0.2s ease-in-out;
  display: block;
}
.navbar .bar-right .bar-account-container {
  display: flex;
  flex-direction: column;
  position: relative;
}
.navbar .bar-right .bar-account-container .dropdown-menu {
  z-index: 10;
  display: none;
  text-transform: none;
  background-color: white;
  text-align: right;
  font-size: 18px;
  transition: all 0.2s ease-in-out;
  position: absolute;
  right: 0;
  top: 2rem;
}
.navbar .bar-right .bar-account-container .dropdown-menu ul {
  list-style: none;
}
.navbar .bar-right .bar-account-container .dropdown-menu ul li {
  cursor: pointer;
  padding: 0.6rem 1rem;
  color: black;
  box-shadow: 0 1px 2px -1px rgba(0, 0, 0, 0.2);
}
.navbar .bar-right .bar-account-container .dropdown-menu ul li:hover {
  background-color: #f7f3ee;
}

@media screen and (max-width: 992px) {
  .navbar {
    height: 56px;
  }
  .navbar .bar-left p {
    font-size: 28px;
  }
  .navbar .bar-left .search-bar {
    margin-right: 1.6rem;
  }
  .navbar .bar-left .search-bar .search-input {
    height: 30px;
    width: 160px;
  }
  .navbar .bar-left .search-bar .icon-search {
    font-size: 20px;
  }
  .navbar .bar-right {
    padding-right: 1rem;
  }
  .navbar .bar-right .bar-right-item {
    font-size: 18px;
    padding: 3px 1.2rem;
  }
  .navbar .bar-right .bar-account-container .dropdown-menu {
    font-size: 16px;
    top: 1.8rem;
  }
}
@media screen and (max-width: 768px) {
  .header {
    font-size: 28px;
    height: 30vh;
  }
  .navbar {
    display: flex;
    flex-direction: column;
    align-items: initial;
    height: 78px;
  }
  .navbar .bar-left {
    align-self: center;
    padding-left: 0;
  }
  .navbar .bar-left p {
    font-size: 28px;
  }
  .navbar .bar-left .search-bar {
    margin-right: 0.8rem;
  }
  .navbar .bar-left .search-bar .search-input {
    height: 1.4rem;
    width: 100px;
  }
  .navbar .bar-left .search-bar .icon-search {
    font-size: 16px;
  }
  .navbar .bar-right {
    padding: 0 1rem;
  }
  .navbar .bar-right .bar-right-item {
    font-size: 17px;
    padding: 3px 0.5rem;
  }
  .navbar .bar-right .bar-account-container .dropdown-menu {
    font-size: 14px;
    top: 2rem;
    right: -5px;
  }
  .post .post-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .post .post-footer .post-footer-left {
    margin-bottom: 10px;
  }
}/*# sourceMappingURL=navbar.css.map */